.alert-box {
  margin-top: 10px;
  width: 200px;
  padding: 16px;
  z-index: 100;
  box-shadow: 1 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 5px;
  .alert-box-actions {
    text-align: right;
  }
  .close-alert-box {
    text-align: right;
    border-radius: 5px;
    cursor: pointer;
  }
}

.error {
  background-color: rgba(248, 174, 174, 0.5);
  color: red;
  border: 1px solid rgba(255, 0, 0, 0.5);
}

.info {
  background-color: rgba(176, 176, 248, 0.5);
  color: blue;
  border: 1px solid rgba(0, 0, 255, 0.5);
}
